* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 300;
  font-family: "lato", Arial, Helvetica, sans-serif;
  color: #555;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-size: 20px;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*-----------------------------*/
/*Reusable components*/
/*-----------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
/*HEADING*/
header h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}
h1 {
  margin: 0;
  color: #fff;
  font-size: 200%;
  margin-bottom: 20px;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  font-size: 180%;
  letter-spacing: 2px;
  word-spacing: 3px;
}

h2::after {
  width: 100px;
  height: 2px;
  content: "";
  background-color: #e67e22;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
h3 {
  margin-bottom: 15px;
  font-size: 110%;
}
.section-cities h3 {
  margin-top: 10px;
}

/*PARAGRAPHS*/
.long-copy {
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  line-height: 145%;
  margin-bottom: 25px;
}
.box p {
  line-height: 145%;
}

/*ICONS*/
.icon-big {
  font-size: 320%;
  color: #e67e22;
  display: block;
  margin-bottom: 10px;
}

/*Buttons*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.2s, border 0, 2s, color 0, 2s;
}

.btn-full:visited,
.btn-full:link {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active {
  background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
  border: 1px solid #cf6d17;
}
/*-----------------------------*/
/*Header*/
/*-----------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/resources/img/hero-min.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0, 2s;
  padding: 8px 0;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/*MEALS*/
.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  width: 25%;
  float: left;
}
.meal-photo {
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #000;
}
.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/*--------------------*/
/*HOW IT WORKS*/
/*--------------------*/

.section-steps {
  background-color: #f4f4f4;
}
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 50px;
}
.steps-box:last-child {
  margin-top: 70px;
  padding-left: 3%;
}
.app-screen {
  width: 40%;
}
.work-steps div {
  height: 50px;
  width: 50px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  color: #e67e22;
  padding: 10px;
  text-align: center;
  float: left;
}

.work-steps p {
  margin: 50px;
  line-height: 120%;
  padding-top: 3px;
  font-size: 90%;
  padding-left: 10px;
}
.btn-steps img {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

.box img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.icon-small {
  color: #e67e22;
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 120%;
  vertical-align: middle;
  line-height: 120%;
  margin-top: -4px;
}

.section-cities a {
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
}
.section-cities a:hover {
  color: #555;
  border-bottom: 1px solid transparent;
}
/*CUSTOMERS*/
.section-customers {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/resources/img/back-customers-min.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
blockquote {
  font-style: italic;
  line-height: 150%;
  display: block;
  margin-right: 30px;
  margin-top: 30px;
}
blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
}
cite {
  display: block;
  font-size: 90%;
  margin-top: 30px;
}
cite img {
  border-radius: 50%;
  height: 45px;
  vertical-align: middle;
  margin-right: 10px;
}

/*CARDS*/
.section-cards {
  background-color: #f4f4f4;
}

.card {
  background-color: #fff;
  width: 90%;
  border-radius: 8px;
  margin-left: 3%;
  margin-top: 30px;
}
.card div {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
}
.card div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fcfcfc;
}
.card div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.heading-card {
  font-size: 120%;
}
.price-tag {
  color: #e67e22;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 15px;
}
.card-span {
  font-size: 50%;
  font-weight: 300;
}
.section-cards ul {
  list-style: none;
  text-align: left;
}

.section-cards ul li {
  padding-top: 15px;
}
.button-last {
  text-align: center;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */
footer {
  background-color: #333;
  padding-top: 60px;
}
.footer-nav {
  list-style: none;
  float: left;
}

.social-icons {
  float: right;
  list-style: none;
}

.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav a {
  text-decoration: none;
  color: #ccc;
}

footer p {
  color: #ccc;
  text-align: center;
  font-size: 90%;
  margin-top: 25px;
  padding-bottom: 40px;
}

/* ------------------------------------ */
/* FORM */
/* ------------------------------------ */

.contact-form {
  width: 90%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

.map-box {
  width: 100%;
  height: 560px;
  position: relative;
}

.map {
  width: 100%;
  height: 560px;
  position: relative;
  z-index: 0;
}

.form-box {
  width: 50%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  height: 500px;
  padding-top: 40px;
}
